.margenes{
  max-width: 1000px; 
  margin-left: auto; 
  margin-right: auto; 

}

.bg-color-1{
  background-color: #FEFCFB;
}
.bg-color-2{
  background-color: #F7F8FC;
}
  
.bg-color-orange{
  background-color: #FA7436;
}

.text-orange{
  color: #FA7436;
}

.dropdown-toggle::after {
  color: #FA7436;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +80%);
  display: none;
}

.image-container:hover .overlay-button {
  display: block;
}


.circle {
  bottom: -80px; 
  left: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

